# Copy file nay thanh "application-secrets.properties" (cung cap, KHONG commit len GitHub)
# roi dien thong tin that cua ban vao.

spring.datasource.url=jdbc:sqlserver://localhost:1433;databaseName=cinema_booking;encrypt=true;trustServerCertificate=true
spring.datasource.username=sa
spring.datasource.password=your_sql_password

spring.mail.username=your_email@gmail.com
spring.mail.password=your_gmail_app_password
