<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">
<head>
    <title>Trang chu</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Chao mung den voi he thong dat ve xem phim - NHOM05</h1>
    <p>Day la trang chu tam thoi (nen mong du an). Cac trang danh sach phim, chon ghe,
       thanh toan... se duoc cac thanh vien trong nhom xay dung theo module da phan cong.</p>
</div>
</body>
</html>
